<div class="container-fluid">

  <div>
    <img src="../../assets/imgs/prototypeImage.png" style="    width: 100%; height: 250px;" />
  </div>

  <div class="row">
    <div class="col">

      <div (click)="selecSandwiche(i, sandwiche)" attr.id="item{{i}}" class="card" *ngFor="let sandwiche of items; let i = index"
        style="text-align: center; margin: 20px 0; padding: 10px">
        <input type="checkbox" style="display: none" [(ngModel)]="sandwiche.selected">
        {{sandwiche.name}}
        <img src="../../assets/imgs/prototypeImage.png" style="align-self: center;" width="300px" height="200px" />
        <P style="font-weight: bold">Ingredientes</P>
        <div class="row" style="padding: 10px">
          <div class="col" *ngFor="let ingredient of sandwiche.ingredients">
            {{ingredient.name}}
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" (click)="open()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

</div>